


body{
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-family: 'PT Serif', serif;
background-image: url(background.webp);
}



#form-container{
    margin: auto;
    margin-top: 10vh;
    width: 40%;
    background-color: rgb(42, 172, 189)
;
text-align: center;
height: 80%;


}

.form-group {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;

}

.form-group input {

height: 3vh ;

}

textarea {

    width: 367px;
    height: 100px;
    resize: none;

}
button {
margin: auto !important;
border-radius: 20px;
border-width: px;

}

button:hover {
    background-color: rgb(122, 223, 236);
cursor:pointer !important;
}

option:hover {
    background-color:rgb(122, 223, 236) ;

}