body {
    padding: 0%;
    margin: 0%;

}

.menu {
    background-color: black;
    padding: 2em;
    margin: auto;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 1em;
}

.menu a:hover {
    background-color: rgb(16, 96, 176);
}


#ranking {
    margin-left: 30px !important;
}