
.container {
  width: 70%;
  margin: auto;
}

img {
  width: 100%;
  height: 70%;
  padding: 0px;
}

#title {
  font-family: Phudu;
  font-size: xx-large;
  text-align: center;
  background-color: rgb(212, 237, 252);
border: 1px solid black;
margin:3%;
padding: 1%;
position: relative;
right: 10px;
}

.card {
  float: left;
  width: 30%;
  border: 1px solid black;
  margin: 2px;
  padding: 0 10px;
  height: 23vw;
}

em {
  text-align: center;
  font-weight: bolder;
  display: block;
  font-size:larger;
}

.card p {
  display: inline;
}

/* navbar styling */
.menu {
    background-color: black;
    padding: 2em;
    margin: auto;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 1em;
}

.menu a:hover {
    background-color: rgb(16, 96, 176);
}


#ranking {
    margin-left: 30px !important;
}

