
.container {
  width: 70%;
  margin: auto;
}

img {
  width: 100%;
  height: 70%;
  padding: 0px;
}

#title {
  font-family: Phudu;
  font-size: xx-large;
  text-align: center;
  background-color: rgb(212, 237, 252);
border: 1px solid black;
margin:1%;
padding: 1%;
}

.card {
  float: left;
  width: 30%;
  border: 1px solid black;
  height: 26vw;
}

em {
  text-align: center;
  font-weight: bolder;
  display: block;
  font-size:larger;
  margin: 5% 0;
}

.card p {
  /* display: inline; */
  font-size:1vw;
  margin: 0 3%;
}

/* navbar styling */
body {
  margin: 0%;
  background-color: rgb(179, 239, 239);
}

.menu {
  background-color: black;
  padding: 2em;
  margin: auto;
}

.menu a {
  text-decoration: none;
  font-family: Phudu;
  font-weight: lighter;
  font-size: large;
  color: white;
  padding: 1em;

}

.menu a:hover {
  background-color: rgb(16, 96, 176);
}

#contact {
  margin-left: 38px;
}

#ranking {
  margin-left: 30px !important;
}

/* contact us style */

main {
  padding: 0%;
  margin: 0%;
  text-align: center;
  font-family: 'PT Serif', serif;
}

#form-container {
  margin: auto;
  margin-top: 10vh;
  width: 40%;
  background-color: rgb(42, 172, 189);
  text-align: center;
  height: 80%;
}

.form-group {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-group input {
  height: 3vh;
}

textarea {
  width: 367px;
  height: 100px;
  resize: none;
}

button {
  margin: auto !important;
  border-radius: 20px;
  border-width: px;
}

button:hover {
  background-color: rgb(122, 223, 236);
  cursor: pointer !important;
}

option:hover {
  background-color: rgb(122, 223, 236);
}

/* Ranking style */

#ranker-select {
  padding: 2em;
}

label {
  font-size: large;
  font-weight: bold;
}

#likeButton {
width: 15%;
  border-color: blue;
font-size: large;
}

#dislikeButton {
  border-color: red;
  width: 15%;
  font-size: large;
}

#likeButton:hover {
  background-color: blue;
  color: aliceblue;
}

#dislikeButton:hover {
  background-color: red;
  color: aliceblue;
}