.container {
    width: 80%;
    margin: auto;

}

.Raw1 {
    
    display: block
}
.Raw3 {
    
    /* display: inline; */
}
img {
    width: 30%;
    float: left;
}

#title {
font-family: cursive;
font-size: x-large;
text-align: center;
}